<h3>Your answer: </h3>

<div>
  <form>
    <div class="form-group">
      {{input value=answer id="answer"}}
    </div>
    <div class="form-group">
      <label for="authorAnswer">Your Name:</label>
      {{input value=authorAnswer id="authorAnswer"}}
    </div>
    <button {{action 'addAnswer'}}>Save</button>
  </form>

</div>
