<div class="container">
<div class="container-fluid">
<ul class="navbar navbar-default">
  <li>{{#link-to "index"}}Home{{/link-to}}   -   {{current-date}}</li>
</ul>
</div>
<h1 class="brand" id="title">Ask Around</h1>
{{outlet}}
</div>
